body {
    font-family: 'Inter';
    color: #29374E;
    font-style: normal;
    font-weight: 500;
    font-size: 16pt;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #CBECFF;
    max-width: 75hv;

}

.buttons_container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    justify-content: left;
}

.eng_ru {
    text-align: right;
    margin-right: 13rem;
    justify-content: center;
}

.mockup {
    width: 150%;
    justify-content: center;
}

.header_left_side {
    margin-bottom: 5rem;
    width:100%;
    order: 2;
}

.header_right_side {
    order: 1;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;

    margin-top: -90px;
    margin-left: 16px;
    margin-right: 16px;
}

.naming {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    width: 15rem;
    height: 9rem;
}

h1 {
    letter-spacing: 0.006em;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;

}

.h1_reverse_colors {
    background-color: white;
    color: #0962E8;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about_info {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding-right:5px;
}

.btn_order_demo {
    font-family: 'Inter';
    margin-top: 2rem;
    background-color: #0962E8;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0.5rem;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;

}


.btn_order_demo:hover {
    background-color: #5191f1;
}

.btn_order_demo:active {
    background-color: #5191f1d2;
}


.btn_ru {
    margin-top: 1rem;
    font-family: 'Inter';
    background-color: white;
    text-align: center;
    color: #0962E8;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5rem;
    border: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 1rem;
    width: 1.9rem;

}

.btn_ru:hover {
    background-color: #5191f1;
}

.btn_order_demo:active {
    background-color: #5191f1d2;
}

.btn_en {
    margin-top: 1rem;
    font-family: 'Inter';
    background-color: #CBECFF;
    text-align: center;
    color: #29374E;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5rem;
    border: none;
    padding-top: 0.7rem;

    width: 2.4rem;

}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    background-color: #CBECFF;

    justify-content: center;

    margin-top: -50px;
    padding-bottom: 33px;

    padding-left: 16px;
    padding-right: 16px;
}

.item_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:8px;

    font-size: 14px;
    font-weight: 500;
    padding: 1rem;

    background-color: white;
    border-radius: 1rem;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);

}

.item_text {
    order: 2;
    width: 100%;
}

.image {

    order: 1;
    width: 3rem;
}

.object_mini {
    text-align: right;
    width: 1.7rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    background-color: #EFF9FF;
    border-radius: 5rem;
}

.key_products_label {
    margin-top: 2.5rem;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.key_products_label .colored {
    color: #0962E8
}

.products {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

}

.object_product {
    width: 10rem;
    filter: drop-shadow(0 0 10px #29374e10);
    border-radius: 1.5rem;
    margin-bottom:-8px;
}


.product {
    background-color: #E9F6FF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 1rem;
}

.container_div {

    padding: 1rem;
    width: 10rem;
}

.label_bold {
    color:black;
    text-align: left;
    margin-left: 1rem;
    padding-top: 1rem;
    font-weight: 600;
    font-size: 16px;
    width: 9rem;

}

.texting {
    color:black;
    font-size: 13px;
    padding: 1rem;
    width: 9rem;
}

.banking {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    margin-bottom: 100px;
}

.banking_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

.banking_label {
    font-size: 24px;
    line-height: 130%;
    line-height: 31.2px;
    font-weight: 600;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.banking_label .colored {
    color: #0962E8
}

.bank_text {
    padding-top: 18px;
    font-size: 14px;
    width: 100%;
    margin-bottom:-20px;
}

.banking_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap:15px;
    row-gap: 20px;

    padding-right: 16px;
    padding-left: 16px;
}

.bank_item {
    padding-left: 18px;
    padding-right:9px;
    padding-bottom:12px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:8px;

    justify-self: center;



    height: auto;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.bank_item_text {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    
}

.bank_1 {
    width: 2rem;
}